<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.direktoratpendidikan">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".NotifikasiActivity"
            android:theme="@style/NoActionBar" />
        <activity
            android:name=".pengaturan.TentangDirpen"
            android:theme="@style/NoActionBar" />
        <activity
            android:name=".pengaturan.Bantuan"
            android:theme="@style/NoActionBar" />
        <activity
            android:name=".admin.DisabilitasAdm"
            android:theme="@style/NoActionBar" />
        <activity
            android:name=".mahasiswa.DisabilitasMhs"
            android:theme="@style/NoActionBar" />
        <activity
            android:name=".DetailAgendaAdmin"
            android:theme="@style/NoActionBar" />
        <activity
            android:name=".TambahPeserta"
            android:theme="@style/NoActionBar" />
        <activity
            android:name=".DetailAkreditasi"
            android:theme="@style/NoActionBar" />
        <activity
            android:name=".AkreditasiActivity"
            android:theme="@style/NoActionBar" />
        <activity
            android:name=".ProgramStudi"
            android:theme="@style/NoActionBar" />
        <activity
            android:name=".FakultasActivity"
            android:theme="@style/NoActionBar" />
        <activity
            android:name=".KalenderAkademik"
            android:theme="@style/NoActionBar" />
        <activity
            android:name=".DetailBerita"
            android:theme="@style/NoActionBar" />
        <activity
            android:name=".admin.UserActivity"
            android:theme="@style/NoActionBar" />
        <activity
            android:name=".pengaturan.ChangePassword"
            android:theme="@style/NoActionBar" />
        <activity
            android:name=".pengaturan.EmailVerifikasiActivity"
            android:theme="@style/NoActionBar" />
        <activity
            android:name=".pengaturan.ProfilActivity"
            android:theme="@style/NoActionBar" />
        <activity
            android:name=".DownloadActivity"
            android:theme="@style/NoActionBar" />
        <activity
            android:name=".DetailBeasiswa"
            android:theme="@style/NoActionBar" />
        <activity
            android:name=".DetailProsedur"
            android:theme="@style/NoActionBar" />
        <activity
            android:name=".admin.MainActivityAdmin"
            android:label="@string/title_activity_main_admin"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".mahasiswa.MainActivityMhs"
            android:label="@string/title_activity_main_admin"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".dosen.MainActivity"
            android:theme="@style/NoActionBar"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".DetailAgenda"
            android:theme="@style/NoActionBar" />
        <activity
            android:name=".SplashActivity"
            android:theme="@style/NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LoginActivity"
            android:theme="@style/NoActionBar" />
        <activity
            android:name=".UbahPWUserBaru"
            android:theme="@style/NoActionBar" />

        <service android:name=".MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
                <action android:name="android.intent.action.RESPOND_VIA_MESSAGE" />
            </intent-filter>
        </service>

        <activity
            android:name=".BeritaActivity"
            android:theme="@style/NoActionBar" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>